/* =========================
   ESTILO GENERAL GAMER
========================= */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #080b16;
  color: white;
}


/* =========================
   CABECERA
========================= */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #11182b;
  border-bottom: 2px solid #00e5ff;
}


header h1 {
  margin: 0;
  font-size: 32px;
}


/* =========================
   MENU
========================= */

.nav-links a {

  color: white;
  text-decoration: none;
  margin-left: 25px;
  font-size: 18px;

}


.nav-links a:hover {

  color: #00e5ff;

}


/* =========================
   PORTADA PRINCIPAL
========================= */

.hero {

  text-align: center;
  padding: 80px 20px;

}


.hero h2 {

  font-size: 45px;
  margin-bottom: 20px;

}


.hero p {

  font-size: 22px;
  color: #cccccc;

}


/* BOTÓN */

button {

  margin-top: 30px;
  padding: 15px 35px;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  background-color: #00e5ff;
  color: #000;
  cursor: pointer;

}


button:hover {

  transform: scale(1.05);

}


/* =========================
   SECCION JUEGOS
========================= */

.games {

  text-align: center;
  padding: 40px;

}


.game-card {

  background-color: #151d35;
  width: 300px;
  margin: 30px auto;
  padding: 25px;
  border-radius: 15px;
  border: 1px solid #00e5ff;

}


.game-card:hover {

  transform: translateY(-10px);

}


/* =========================
   PIE
========================= */

footer {

  text-align: center;
  padding: 20px;
  background-color: #11182b;
  margin-top: 50px;

}


/* =========================
   CELULARES
========================= */

@media(max-width:700px){

  header {

    flex-direction: column;

  }


  .nav-links {

    margin-top: 20px;

  }


  .nav-links a {

    display: block;
    margin: 10px;

  }

}
