/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* Encabezado */
header {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 1em;
}

/* Contenido principal */
main {
  padding: 20px;
}

/* Pie de página */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em;
}
